
legend{
    font-size: 14px !important;
    font-weight: 600 !important;
}

label{
    font-size: 13px !important;
    padding-left: 10px;
}

.p-calendar{
    display: inline-flex;
    position: relative;
    height: 25px !important;
}