<div class="h-100">
    <div class="row">
        <h1 class="h1">Schedule Interview</h1>
    </div>
    <div class="border-2">
        <div class="p-10">
            <div class="minheight-100">
                <form class="example-form">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Candidate Id/Name</mat-label>
                                    <input matInput disabled value="0001234 - Jack Anderson">
                                </mat-form-field>
                            </td>
                            <td>
                                <div class="pl-10"></div>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Skill Cluster</mat-label>
                                    <input matInput disabled value=".Net Azure SQL">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <!-- <mat-divider></mat-divider> -->
                    <div class="pt-10 subtitle">Search Candidate</div>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input type="text" matInput [matAutocomplete]="autoskill"
                                        placeholder="Skill Cluster" [formControl]="skillControl">
                                    <mat-autocomplete #autoskill="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions  | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                            <td>
                                <div class="pl-10"></div>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid
                                        start date</mat-error>
                                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                    <i class="material-icons" title="Search Candidate">search</i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <p-table [value]="availability" [paginator]="true" [rows]="5" selectionMode="single"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[5,10,25,50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Panel Id</th>
                                <th>Panel Name</th>
                                <th>From Time</th>
                                <th>To Time</th>
                                <th>Available</th>
                                <th>Select</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-availability>
                            <tr>
                                <td>{{availability.panelId}}</td>
                                <td>{{availability.panelName}}</td>
                                <td>{{availability.from}}</td>
                                <td>{{availability.to}}</td>
                                <td>{{availability.available}}</td>
                                <td>
                                    <button pButton pRipple icon="pi pi-check" title="Assign" 
                                    class="p-button-rounded p-button-success p-mr-2 mr-2"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-column>
                            <tr>
                                <td>
                                    No Record Found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </form>
            </div>
        </div>
    </div>
</div>